{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.3.1"
    }
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base",
    "plugin:react-native/all"
  ],
  "rules" : {
    "arrow-body-style" : 1,
    "react/prop-types": 0,
    "global-require": 0
  }
}